.navigation {
    position: absolute;
    bottom: 2.2vw;
    left: 0;
    right: 0;

    height: 3.2vw;
    width: 100%;

    padding: 0 3vw;

    border-radius: 100px;

    font-family: 'GothamBook';

    background-color: var(--main-second-color);

    display: flex;
    align-items: center;
    justify-content: space-between;

    color: var(--text-color);

    &.shadow {
        box-shadow: 0px 0px 50px -10px rgba(0, 0, 0, 0.23);
    }

    ul {
        display: flex;
        gap: 1.5rem;
        
        font-weight: 400;
        font-size: 1rem;

        @media (max-width: 1024.9px) {
            font-size: 0.75rem;
        }
        @media (max-width: 768.9px) {
            margin-right: auto;
        }
        @media (max-width: 375.9px) {
            margin-right: 0;
            gap: 0;
            width: 100%;
            justify-content: space-around;
        }
        

        li.active {
            font-family: 'GothamBold';

            &:hover {
                &::before {
                    display: none;
                }
            }
        }

        li {
            cursor: pointer;
            position: relative;

            &::before {
                content: '';
                position: absolute;
                width: 100%;
                height: 1.5px;
                background-color: var(--text-color);
                bottom: -2px;
                left: 0;
                transform-origin: right;
                transform: scaleX(0);
                transition: transform .3s ease-in-out;
            }
              
            &:hover {

                &::before{
                    transform-origin: left;
                    transform: scaleX(1);
                }
            }
              
        }
    }

    a {
        list-style: none;

        padding: 0.6em 1.75em;
        color: var(--main-second-color);

        text-decoration: none;

        border-radius: 40px;

        background-color: var(--text-color);

        font-size: 0.75rem;

        transition: all 0.2s ease-in-out;

        @media (max-width: 1024.9px) {
            font-size: 0.6rem;
        }

        @media (max-width: 768.9px) {
            display: none;
        }

        &:hover {
            transform: translateY(1px);
            background-color: rgb(209, 209, 209);
        }
    }

    @media (max-width: 1220.98px) {
        height: 3rem;
    }
    @media (max-width: 1024.9px) {
        height: 2.5rem;
        bottom: 1rem;
    }
    @media (max-width: 375.9px) {
        justify-content: center;
        height: 2rem;
    }
}

.logo {
    font-size: 1.5rem;
    font-family: 'Newake';

    color: var(--text-color);
    
    height: 1.1rem;

    cursor: pointer;
    transition: all 0.2s ease-in-out;        

    &:hover {
        color: var(--light-main-color);
    }

    // &::before {
    //     content: "";
    //     display: block;
    //     height: 6px;
    // }

    @media (max-width: 1024.9px) {
        font-size: 1.25rem;
    }
    @media (max-width: 768.9px) {
        margin-right: auto;
        transition: none;
    }
    @media (max-width: 375.9px) {
        display: none;
    }
}