// #section-one header {
//     position: absolute;
// }

#section-one .hero {
    width: 100%;
    height: calc(100vh - (7rem * 2));
    display: flex;
    flex-direction: column;
    align-items: center;

    position: relative;
    // @media (max-width: 768px) {
    //    position: absolute;

    //    top: 50%;

    //    transform: translateY(-50%);
    // }

    @media (max-width: 1024.9px) {
        height: calc(100vh - (5rem * 2));
    }
    @media (max-width: 545.9px) {
        height: calc(100vh - (4rem * 2));
        
    }

    h1 {
        text-transform: uppercase;
        white-space: nowrap;

        position: static;

        font-family: "Newake";
        font-size: calc(14vw + 1rem); //13.6vw

        font-weight: 300;
        
        height: 11.2vw;
        letter-spacing: -0.04em;
        color: transparent;
        -webkit-text-stroke: 0.1px var(--specific-color);

        margin-bottom: 0.125em;

        @media (max-width: 1024.9px) {
            height: 12.2vw;
            font-size: calc(13.6vw + 1rem);
        }
        @media (max-width: 768.9px) {
            height: 14.2vw;
            font-size: calc(12.6vw + 1rem);
        }
        @media (max-width: 545.9px) {
            font-size: calc(12vw + 1rem);
            height: 15.2vw;
        }
        // 375

        @media (max-width: 375.9px) {
            font-size: calc(10.4vw + 1rem);
        }

        &:nth-child(1) {
            color: var(--specific-color);
            -webkit-text-stroke: none;
        }

        &:nth-child(2) {
            color: transparent;
            -webkit-text-stroke: 2px var(--specific-color);
        }

        &:nth-child(3) {
            color: transparent;
            -webkit-text-stroke: 1px var(--specific-color);
        }

        &:nth-child(4) {
            color: transparent;
            -webkit-text-stroke: 0.5px var(--specific-color);
        }

        &:nth-child(5) {
            color: transparent;
            -webkit-text-stroke: 0.2px var(--specific-color);
        }
    }
}