#section-three {

    background-color: var(--specific-color-three);
    
    .social-network-bar{
        .social-link {
            border-color: var(--text-color);
            svg{
                fill: var(--text-color);
            }
        }
    }
    
    .social-network-button {
        color: var(--text-color);
    }

    .section-button {
        color: var(--text-color);
        svg {
            stroke: var(--text-color);
        }
    }
    .hero {
        background-color: var(--specific-color-three);

        overflow-y: auto;
        padding-bottom: 15rem;

        &::-webkit-scrollbar{
            display: none;
        }

        .hero-title {
            font-family: 'Newake';
            font-style: normal;
            font-weight: 400;
            font-size: calc(4.5vw + 1rem);
            line-height: 100%;
            
            text-transform: uppercase;

            color: var(--text-color);

            padding-top: 1rem;
            margin-bottom: 0.3em;
        }
    }
}