@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);
@font-face {
    font-family: "GothamBook";
    src: url("/Salud-Landing/public/fonts/Gotham/GothamBook.ttf") format(truetype);
    font-weight: 400;
}
@font-face {
    font-family: "GothamBold";
    src: url(/Salud-Landing/public/fonts/Gotham/GothamBold.ttf) format(truetype),
        url(/Salud-Landing/public/fonts/Gotham/Gotham-Bold.otf) format(opentype);
    font-weight: 700;
}
@font-face {
    font-family: "Newake";
    src: url(/Salud-Landing/public/fonts/Newake/Newake-Font-Demo.otf) format(opentype);
}
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font: inherit;
    list-style: none;
}

html {
    height: 100vh;
    overflow: hidden;
}

body {
    height: 100vh;
    width: 100%;
    position: relative;
    background-color: var(--specific-color-three);
}

section {
    height: 100%;
    background-color: var(--main-color);
}

.container {
    max-width: 90.68vw;
    height: 100%;
    margin: 0 auto;
    position: relative;
}

#section-one,
#section-two,
#section-three {
    display: none;
}
#section-one.active,
#section-two.active,
#section-three.active {
    display: block;
}

.navigation {
    position: absolute;
    bottom: 2.2vw;
    left: 0;
    right: 0;
    height: 3.2vw;
    width: 100%;
    padding: 0 3vw;
    border-radius: 100px;
    font-family: "GothamBook";
    background-color: var(--main-second-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--text-color);
}
.navigation.shadow {
    box-shadow: 0px 0px 50px -10px rgba(0, 0, 0, 0.23);
}
.navigation ul {
    display: flex;
    gap: 1.5rem;
    font-weight: 400;
    font-size: 1rem;
}
@media (max-width: 1024.9px) {
    .navigation ul {
        font-size: 0.75rem;
    }
}
@media (max-width: 768.9px) {
    .navigation ul {
        margin-right: auto;
    }
}
@media (max-width: 375.9px) {
    .navigation ul {
        margin-right: 0;
        gap: 0;
        width: 100%;
        justify-content: space-around;
    }
}
.navigation ul li.active {
    font-family: "GothamBold";
}
.navigation ul li.active:hover::before {
    display: none;
}
.navigation ul li {
    cursor: pointer;
    position: relative;
}
.navigation ul li::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 1.5px;
    background-color: var(--text-color);
    bottom: -2px;
    left: 0;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform 0.3s ease-in-out;
}
.navigation ul li:hover::before {
    transform-origin: left;
    transform: scaleX(1);
}
.navigation a {
    list-style: none;
    padding: 0.6em 1.75em;
    color: var(--main-second-color);
    text-decoration: none;
    border-radius: 40px;
    background-color: var(--text-color);
    font-size: 0.75rem;
    transition: all 0.2s ease-in-out;
}
@media (max-width: 1024.9px) {
    .navigation a {
        font-size: 0.6rem;
    }
}
@media (max-width: 768.9px) {
    .navigation a {
        display: none;
    }
}
.navigation a:hover {
    transform: translateY(1px);
    background-color: rgb(209, 209, 209);
}
@media (max-width: 1220.98px) {
    .navigation {
        height: 3rem;
    }
}
@media (max-width: 1024.9px) {
    .navigation {
        height: 2.5rem;
        bottom: 1rem;
    }
}
@media (max-width: 375.9px) {
    .navigation {
        justify-content: center;
        height: 2rem;
    }
}

.logo {
    font-size: 1.5rem;
    font-family: "Newake";
    color: var(--text-color);
    height: 1.1rem;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}
.logo:hover {
    color: var(--light-main-color);
}
@media (max-width: 1024.9px) {
    .logo {
        font-size: 1.25rem;
    }
}
@media (max-width: 768.9px) {
    .logo {
        margin-right: auto;
        transition: none;
    }
}
@media (max-width: 375.9px) {
    .logo {
        display: none;
    }
}

:root {
    --dark-main-color: #141414;
    --dark-text-color: #ffffff;
    --dark-main-second-color: #1b1b1b;
    --light-main-color: #3bc1cd;
    --light-text-color: #292929;
    --light-main-second-color: #ffffff;
    --main-color: var(--light-main-color);
    --text-color: var(--light-text-color);
    --main-second-color: var(--light-main-second-color);
    --specific-color: var(--light-main-second-color);
    --specific-color-two: var(--light-main-color);
    --specific-color-three: var(--light-main-second-color);
}

.dark-theme {
    --main-color: var(--dark-main-color);
    --text-color: var(--dark-text-color);
    --main-second-color: var(--dark-main-second-color);
    --specific-color: var(--dark-text-color);
    --specific-color-two: var(--light-text-color);
    --specific-color-three: var(--dark-main-color);
}

.navigation {
    position: absolute;
    bottom: 2.2vw;
    left: 0;
    right: 0;
    height: 3.2vw;
    width: 100%;
    padding: 0 3vw;
    border-radius: 100px;
    font-family: "GothamBook";
    background-color: var(--main-second-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--text-color);
}
.navigation.shadow {
    box-shadow: 0px 0px 50px -10px rgba(0, 0, 0, 0.23);
}
.navigation ul {
    display: flex;
    gap: 1.5rem;
    font-weight: 400;
    font-size: 1rem;
}
@media (max-width: 1024.9px) {
    .navigation ul {
        font-size: 0.75rem;
    }
}
@media (max-width: 768.9px) {
    .navigation ul {
        margin-right: auto;
    }
}
@media (max-width: 375.9px) {
    .navigation ul {
        margin-right: 0;
        gap: 0;
        width: 100%;
        justify-content: space-around;
    }
}
.navigation ul li.active {
    font-family: "GothamBold";
}
.navigation ul li.active:hover::before {
    display: none;
}
.navigation ul li {
    cursor: pointer;
    position: relative;
}
.navigation ul li::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 1.5px;
    background-color: var(--text-color);
    bottom: -2px;
    left: 0;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform 0.3s ease-in-out;
}
.navigation ul li:hover::before {
    transform-origin: left;
    transform: scaleX(1);
}
.navigation a {
    list-style: none;
    padding: 0.6em 1.75em;
    color: var(--main-second-color);
    text-decoration: none;
    border-radius: 40px;
    background-color: var(--text-color);
    font-size: 0.75rem;
    transition: all 0.2s ease-in-out;
}
@media (max-width: 1024.9px) {
    .navigation a {
        font-size: 0.6rem;
    }
}
@media (max-width: 768.9px) {
    .navigation a {
        display: none;
    }
}
.navigation a:hover {
    transform: translateY(1px);
    background-color: rgb(209, 209, 209);
}
@media (max-width: 1220.98px) {
    .navigation {
        height: 3rem;
    }
}
@media (max-width: 1024.9px) {
    .navigation {
        height: 2.5rem;
        bottom: 1rem;
    }
}
@media (max-width: 375.9px) {
    .navigation {
        justify-content: center;
        height: 2rem;
    }
}

.logo {
    font-size: 1.5rem;
    font-family: "Newake";
    color: var(--text-color);
    height: 1.1rem;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}
.logo:hover {
    color: var(--light-main-color);
}
@media (max-width: 1024.9px) {
    .logo {
        font-size: 1.25rem;
    }
}
@media (max-width: 768.9px) {
    .logo {
        margin-right: auto;
        transition: none;
    }
}
@media (max-width: 375.9px) {
    .logo {
        display: none;
    }
}

#section-one .hero {
    width: 100%;
    height: calc(100vh - 14rem);
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}
@media (max-width: 1024.9px) {
    #section-one .hero {
        height: calc(100vh - 10rem);
    }
}
@media (max-width: 545.9px) {
    #section-one .hero {
        height: calc(100vh - 8rem);
    }
}
#section-one .hero h1 {
    text-transform: uppercase;
    white-space: nowrap;
    position: static;
    font-family: "Newake";
    font-size: calc(14vw + 1rem);
    font-weight: 300;
    height: 11.2vw;
    letter-spacing: -0.04em;
    color: transparent;
    -webkit-text-stroke: 0.1px var(--specific-color);
    margin-bottom: 0.125em;
}
@media (max-width: 1024.9px) {
    #section-one .hero h1 {
        height: 12.2vw;
        font-size: calc(13.6vw + 1rem);
    }
}
@media (max-width: 768.9px) {
    #section-one .hero h1 {
        height: 14.2vw;
        font-size: calc(12.6vw + 1rem);
    }
}
@media (max-width: 545.9px) {
    #section-one .hero h1 {
        font-size: calc(12vw + 1rem);
        height: 15.2vw;
    }
}
@media (max-width: 375.9px) {
    #section-one .hero h1 {
        font-size: calc(10.4vw + 1rem);
    }
}
#section-one .hero h1:nth-child(1) {
    color: var(--specific-color);
    -webkit-text-stroke: none;
}
#section-one .hero h1:nth-child(2) {
    color: transparent;
    -webkit-text-stroke: 2px var(--specific-color);
}
#section-one .hero h1:nth-child(3) {
    color: transparent;
    -webkit-text-stroke: 1px var(--specific-color);
}
#section-one .hero h1:nth-child(4) {
    color: transparent;
    -webkit-text-stroke: 0.5px var(--specific-color);
}
#section-one .hero h1:nth-child(5) {
    color: transparent;
    -webkit-text-stroke: 0.2px var(--specific-color);
}

header {
    width: 100%;
    height: 7rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
@media (max-width: 1024.9px) {
    header {
        height: 5rem;
    }
}
@media (max-width: 545.9px) {
    header {
        height: 4rem;
    }
}
header .social-network-button {
    display: none;
    text-transform: uppercase;
    color: var(--specific-color);
    font-family: "Poppins";
    letter-spacing: -0.05em;
    font-weight: 300;
    font-size: calc(0.48vw + 1rem);
    z-index: 20;
}
@media (max-width: 768.9px) {
    header .social-network-button {
        display: block;
    }
}
@media (max-width: 545.9px) {
    header .social-network-button {
        font-size: calc(0.1vw + 1rem);
    }
}

.social-network-bar {
    display: flex;
    gap: 1.25rem;
}
@media (max-width: 768.9px) {
    .social-network-bar {
        display: none;
    }
}
.social-network-bar .social-link {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 35px;
    width: 35px;
    background-color: transparent;
    border-radius: 10px;
    border: 1px solid var(--specific-color);
    transition: border-color 0.2s ease-in-out;
    transition: transform 0.2s ease-in-out;
}
@media (max-width: 1024.9px) {
    .social-network-bar .social-link {
        width: 30px;
        height: 30px;
        border-radius: 6px;
    }
}
@media (max-width: 768.9px) {
    .social-network-bar .social-link {
        transition: none;
    }
    .social-network-bar .social-link svg {
        transition: none;
    }
}
.social-network-bar .social-link:hover {
    border-color: var(--specific-color);
    transform: translateY(1px);
}
.social-network-bar .social-link:hover svg {
    fill: var(--specific-color);
}
.social-network-bar .social-link svg {
    width: 26px;
    height: 26px;
    fill: var(--specific-color);
    transition: fill 0.2s ease-in-out;
}
@media (max-width: 1024.9px) {
    .social-network-bar .social-link svg {
        width: 20px;
        height: 20px;
    }
}

.social-network {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 20%;
    z-index: 1;
    display: flex;
    justify-content: center;
    padding-top: calc(10vw + 3.5rem);
    background-color: var(--main-color);
    transform: translateX(-100%);
}
.social-network.on-third-page {
    background-color: var(--specific-color-three);
}
.social-network.on-third-page .social-network-bar .logo {
    color: var(--text-color);
}
.social-network.on-third-page .social-network-bar .social-link {
    border-color: var(--text-color);
}
.social-network.on-third-page .social-network-bar .social-link svg {
    fill: var(--text-color);
}
@media (min-width: 768.9px) {
    .social-network {
        display: none;
    }
}
@media (min-width: 545.9px) {
    .social-network {
        width: 16%;
    }
}
.social-network .social-network-bar {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    align-items: center;
}
.social-network .social-network-bar .logo {
    margin-right: 0;
    display: none;
}
@media (max-width: 768.9px) {
    .social-network .social-network-bar .logo {
        color: var(--specific-color);
    }
}
@media (max-width: 375.9px) {
    .social-network .social-network-bar .logo {
        display: block;
    }
}
.social-network .social-network-bar .social-link {
    height: 35px;
    width: 35px;
}
@media (max-width: 545.9px) {
    .social-network .social-network-bar .social-link {
        height: 30px;
        width: 30px;
    }
}
.social-network .social-network-bar .social-link svg {
    height: 25px;
    width: 25px;
}
@media (max-width: 545.9px) {
    .social-network .social-network-bar .social-link svg {
        height: 20px;
        width: 20px;
    }
}

#section-two {
    display: none;
    background-color: var(--light-main-second-color);
}
#section-two .section-button {
    color: var(--light-text-color);
}
#section-two .section-button svg {
    stroke: var(--light-text-color);
}
#section-two .hero {
    background-color: var(--light-main-second-color);
    display: flex;
    align-content: center;
}
#section-two .hero .text {
    font-family: "Newake";
    font-style: normal;
    font-weight: 400;
    font-size: calc(3vw + 1rem);
    line-height: 100%;
    color: var(--specific-color-two);
    text-transform: uppercase;
    padding-bottom: 15rem;
    overflow: auto;
}
#section-two .hero .text::-webkit-scrollbar {
    display: none;
}
@media (min-width: 375.9px) {
    #section-two .hero .text {
        padding-top: 1rem;
    }
}

#section-three {
    background-color: var(--specific-color-three);
}
#section-three .social-network-bar .social-link {
    border-color: var(--text-color);
}
#section-three .social-network-bar .social-link svg {
    fill: var(--text-color);
}
#section-three .social-network-button {
    color: var(--text-color);
}
#section-three .section-button {
    color: var(--text-color);
}
#section-three .section-button svg {
    stroke: var(--text-color);
}
#section-three .hero {
    background-color: var(--specific-color-three);
    overflow-y: auto;
    padding-bottom: 15rem;
}
#section-three .hero::-webkit-scrollbar {
    display: none;
}
#section-three .hero .hero-title {
    font-family: "Newake";
    font-style: normal;
    font-weight: 400;
    font-size: calc(4.5vw + 1rem);
    line-height: 100%;
    text-transform: uppercase;
    color: var(--text-color);
    padding-top: 1rem;
    margin-bottom: 0.3em;
}

.section-button {
    text-transform: uppercase;
    color: var(--specific-color);
    font-family: "Poppins";
    letter-spacing: -0.05em;
    font-weight: 300;
    font-size: calc(0.48vw + 1rem);
    cursor: pointer;
    background-color: transparent;
    border: none;
    display: flex;
    align-items: center;
    transition: color 0.2s ease-in-out;
    transition: stroke 0.2s ease-in-out;
    transition: margin-left 0.2s ease-in-out;
    transition: margin-right 0.2s ease-in-out;
}
@media (max-width: 1024.9px) {
    .section-button {
        font-size: calc(0.2vw + 1rem);
    }
}
@media (max-width: 545.9px) {
    .section-button {
        font-size: calc(0.1vw + 1rem);
    }
}
.section-button:hover {
    color: var(--specific-color);
}
.section-button:hover svg {
    stroke: var(--specific-color);
}
.section-button:hover.right svg {
    margin-left: 1em;
}
.section-button:hover.left svg {
    margin-right: 1em;
}
.section-button svg {
    stroke: var(--specific-color);
    width: 30px;
    height: 30px;
    transition: 0.2s ease-in-out;
}
@media (max-width: 1024.9px) {
    .section-button svg {
        width: 25px;
        height: 25px;
    }
}
@media (max-width: 545.9px) {
    .section-button svg {
        width: 20px;
        height: 20px;
    }
}
.section-button.right svg {
    margin-left: 0.8em;
}
.section-button.left p {
    order: 2;
}
.section-button.left svg {
    margin-right: 0.8em;
    transform: rotate(180deg);
    order: 1;
}

.questions {
    width: 100%;
}
.questions .faq {
    width: 100%;
    color: var(--text-color);
    background-color: var(--main-second-color);
    font-family: "GothamBook";
    padding: 1.5rem 2.5rem;
    padding-bottom: 0rem;
    overflow: hidden;
    cursor: pointer;
    box-shadow: 0px 0px 10px -5px rgba(0, 0, 0, 0.23);
    border-radius: 6px;
    transition: padding 0.3s ease-in-out;
}
@media (max-width: 768.9px) {
    .questions .faq {
        padding: 1.5rem 1.5rem;
        padding-bottom: 0rem;
    }
}
@media (max-width: 545.9px) {
    .questions .faq {
        padding: 1rem 1rem;
        padding-bottom: 0rem;
    }
}
.questions .faq.active {
    padding-bottom: 1.5rem;
}
.questions .faq:not(:last-of-type) {
    margin-bottom: 1rem;
}
.questions .faq .title {
    font-style: normal;
    font-weight: 600;
    font-size: calc(0.5vw + 1rem);
    line-height: 120%;
    padding-bottom: 1.5rem;
}
@media (max-width: 768.9px) {
    .questions .faq .title {
        font-size: calc(0.3vw + 1rem);
    }
}
@media (max-width: 545.9px) {
    .questions .faq .title {
        padding-bottom: 1rem;
    }
}
.questions .faq .answer {
    font-size: calc(0.2vw + 1rem);
    max-height: 0;
    transition: max-height 0.3s ease-out;
}

.change-theme-animation-box {
    width: 100%;
    height: 100%;
    position: absolute;
    right: 0;
    z-index: 100;
}
.change-theme-animation-box .box {
    width: 100%;
    height: 33.333%;
    background-color: var(--main-color);
    transition: background-color 0.3s ease-in-out;
} /*# sourceMappingURL=main.css.map */
